{% extends "base.html" %}
{% block title%} voyageons{% endblock %}

{% block content %}

<nav>

    <div class="slogan">
        <span> Vabus<span>
    </div>
   
</nav>
 

<div class="partA">
    <div class="PartAA">
    Reserver une place dans un bus, sans vous deplacer</div>
    <div class="form">
        <div class="text">
    <input type="text" paceholder="Saisissez votre destination" class="textt">
    </div>
    <div class="time">
    <input type="time" paceholder="Heure de voyage" class="timee">
    </div>
    
<div class="buttons">
<a href="home.html">   <input type="submit" value="Trouver une agence" class="forms_buttons-action"></a>
</div>
</div>

<div class="PartAB">
<a href="connexion.html" style="color: blue;"> Connexion</a> pour afficher vos voyage récentes
    </div>
    </div>
    <div class="PartB">
Vabus est une application de voyage consut par des etudiant des l'Institut Saint Jean. Nous application vous facilite la vie en vous permettant de reserver un bus depuis chez vous 

</div>

<div class="PartB">

<div class="PartBA"><img src="images/FB_IMG_1671305034248.jpg" style=" height:400px; width: 400px"></br>Deplacez vous vers l'agence avec un yango</br><a href="https://yango.com">Telecharger</a></div>
<div class="PartBA"><img src="images/FB_IMG_1671305070565.jpg" style=" height:400px; width: 400px"></br> Reserver un hotel grace a </br><a href="vlcam.net">VisiterLecameroun</a></div>
<div class="PartBA"><img src="images/FB_IMG_1671306730236.jpg" style=" height:400px; width: 400px"></br>Decouvrez les meilleures agences </br>du Cameroun</div>
</div>
<div class="PartC">
<div class="foo" style="color:red;  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;font-weight: bold; font-size:30PX;padding-left: 45px; padding-top: 20px;">Vabus a traver l'Afrique</div> 

<div class="footer">


<div class="footer1">
<div class="footer">Algerie</div>
<div class="footer">Maroc</div>
<div class="footer">Gabon</div>
<div class="footer">Cote d'ivoire</div>
<div class="footer">Togo</div>
</div>


<div class="footer2">
<div class="footer">Equatoguinée</div>
<div class="footer">L'Afrique du Sud</div>
<div class="footer">Tunisie</div>
<div class="footer">Benin</div>
<div class="footer">Senegal</div>
<div class="footer">RDC</div>
</div>
<div class="footer3">
<div class="footer " style="color: red;">Partenaires</div>
<div class="footer">Institut St Jean</div>
<div class="footer">SLKF</div>
<div class="footer">Yango</div>

</div></div>
</div>

{% endblock%}