{% comment %} {% extends "base.html" %}
{% block title%} Connexion {% endblock %}
{% block content %}

<div class="container">
    <div class="row mt-5 mb-5 shadow">
        <div class="col-lg-6 shadow p-4">
            <h3>Connexion</h3>
             <form>
              {% comment %}
                <div class="form-group">
                  <label for="exampleInputEmail1">Addresse e-mail</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <small id="emailHelp" class="form-text text-muted">Nous n'allons jamais partager votre e-mail.</small>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Mot de passe</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Selectionner</label>
                </div>{% endcomment %}
                {{form}}
                <button type="submit" class="btn btn-primary mt-5">Connectez</button>
              </form> 
              
        </div>
        <div class="col-lg-6">
            <img src="https://cdn.pixabay.com/photo/2013/11/15/13/57/road-210913_960_720.jpg" alt=" connect" class="img-fluid img-responsive">
        </div>
    </div>
</div>

{% endblock%} {% endcomment %}